In [1]:
import pandas as pd
import re

In [2]:
train=pd.read_csv("tweet.csv")

/home/sanket/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
train.head()

,id,label,tweet,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38
0,1,0,@user when a father is dysfunctional and is s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,@user @user thanks for #lyft credit i can't us...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0,bihday your majesty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,#model i love u take with u all the time in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,factsguide: society now #motivation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
col = ['label', 'tweet']
train = train[col]
train.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [7]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/sanket/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [8]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

def clean_sentences(text):
    text = text.lower()
    text = re.sub(r"[^a-z0-9^,!.\/']", " ", text)
    text = " ".join(text.split())
    text = " ".join(stemmer.stem(word) for word in text.split())
    return text

In [9]:
x = train['tweet']
y = train['label']

In [10]:
x = x.map(lambda a: clean_sentences(a))

In [11]:
x.head()

0    user when a father is dysfunct and is so selfi...
1    user user thank for lyft credit i can't use ca...
2                                  bihday your majesti
3    model i love u take with u all the time in ur !!!
4                          factsguid societi now motiv
Name: tweet, dtype: object

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25,random_state=42)

In [13]:
x_train.head()

19010                                       have a weekend
5474     the world realli is go bonker and it' realli b...
6557                                 made my night hahahha
3617     she' look like a realli good person, stupid am...
5099     must be the first year ever where xbox and pla...
Name: tweet, dtype: object

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
vectorizer = TfidfVectorizer(stop_words='english')

In [16]:
x_train = vectorizer.fit_transform(x_train)

In [17]:
x_test = vectorizer.transform(x_test)

In [23]:
from sklearn.svm import LinearSVC
model = LinearSVC()
model.fit(x_train,y_train)

LinearSVC()

In [24]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, f1_score, recall_score
confusion_matrix(y_test,model.predict(x_test))

array([[7367,   65],
       [ 241,  318]])

In [25]:
accuracy_score(y_test,model.predict(x_test))*100

96.1706920285321

In [26]:
recall_score(y_test,model.predict(x_test))

0.5688729874776386